sources/graboschema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="grabo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="business" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="category"/>
              <xs:element name="cities">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="city" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="reviews">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="review" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="date"/>
                          <xs:element type="xs:int" name="user_id"/>
                          <xs:element type="xs:byte" name="rating"/>
                          <xs:element type="xs:string" name="message"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>